.categoryList {
    margin-top: 35px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .categoryItem {
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 14px;
  }
  
  .categoryItem.tech {
    background-color: #57c4ff31;
  }
  
  .categoryItem.webdev {
    background-color: #da85c731;
  }
  
  .categoryItem.learning {
    background-color: #7fb88133;
  }
  
  .categoryItem.selfmotivation {
    background-color: #ff795736;
  }
  